body
{
	background-color: black;
	color: pink;
	padding-top: 0.5%;
}
A, A:visited, A:active
{
	color: pink;
}
@media (max-aspect-ratio: 1/1)
{
	body
	{
		font-size: 30pt;
		padding-left: 10%;
	}
}
@media (min-aspect-ratio: 1/1)
{
	body
	{
		font-size: 11pt;
		padding-left: 20%;
	}
}
