@media (min-aspect-ratio: 1/1) {
body {
    background-color: black; /* Цвет фона веб-страницы */
    color: white; /* Цвет текста */
    padding-top: 0.5%; /* Отступ сверху */
    padding-left: 20%; /* Отступ слева */
    font-size: 11pt /**/
   }
A, A:visited, A:active {
    color: white; /* Цвет ссылок */
   }
}
