body
{
	background-color: black;
	color: white;
	padding-top: 0.5%;
}
A, A:visited, A:active
{
	color: white;
}

{
        box-sizing: border-box;
}
    
.column {
    float: left;
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
