body {
    background-color: black; /* Цвет фона веб-страницы */
    color: white; /* Цвет текста */
    padding-top: 0.5%; /* Отступ сверху */
}

A, A:visited, A:active {
    color: white; /* Цвет ссылок */
}

@media (max-aspect-ratio: 1/1) {
body {
    padding-left: 10%; /* Отступ слева */
    font-size: 30pt /* Размер шрифта */
   }
}   

@media (min-aspect-ratio: 1/1) {
body {
    padding-left: 20%; /* Отступ слева */
    font-size: 11pt /* Размер шрифта */
   }
}
